$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$card-bg: white;

$font-weights: (
  'medium-500': 500,
  'bold-700': 700,
  'black-900': 900
);
$mobile-width: 375px;
$desktop-width: 1440px;
